<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <!-- <div class="me-5 d-none d-lg-block ">
        <span>Get connected with us on social networks:</span>
      </div> -->
      <!-- Left -->
  
      <!-- Right -->
      <!-- <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <img class="w-50 mb-4" src="../../../../assets/logo2.png" alt="logo">
            <p>
              জমি সংক্রান্ত সকল তথ্য ও পরামর্শ দিয়ে জনসাধারণকে সেবা দেয়া জমি-বাবা ও তার সংশ্লিষ্ট ওয়েব সাইট ও মোবাইল এপ্লিকেশন সমূহের উদ্দেশ্য।
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4">
              প্রয়োজনীয় ওয়েবসাইট
            </h3>
            <p>
              <a href="https://landvalue.jomibaba.com/" class=" site-link" target="_blank">jomibaba.com</a>
            </p>
            <p>
              <a href="https://fees.matirpathshala.com/" class="site-link" target="_blank">fees.matirpathshala.com</a>
            </p>
            <p>
              <a href="http://landregistrationbd.com/" class=" site-link" target="_blank">landregistrationbd.com</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
         <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
            <h3 class="text-uppercase fw-bold mb-4">
             প্রয়োজনীয় মোবাইল অ্যাপ
            </h3>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.anagonda" class="" target="_blank">আনা-গন্ডা ক্যালকুলেটর</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.feescalculator" class="" target="_blank">দলিল ফিস ক্যালকুলেটর</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.landregistrationbd" class="" target="_blank">Land Registration BD</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.nakoltollasfeescalculator" class="" target="_blank">নকল তল্লাশ ফি ক্যালকুলেটর</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.vumiact" class="" target="_blank">ভূমি আইন</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.matirpathsala" class="" target="_blank">মাটির পাঠশালা</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.landmeasurecalculator" class="" target="_blank">জমি পরিমাপ ক্যালকুলেটর</a>
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.kajioffice" class="" target="_blank">কাজী অফিস (বিবাহ-তালাক)</a>
            </p>
  
            <!-- <p>
              <a href="https://play.google.com/store/apps/details?id=com.landregistration.namjari_info" class="" target="_blank">ই-মিউটেশন-নামজারি সহায়িকা</a>
            </p> -->
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4">
              যোগাযোগ
            </h3>
            <!-- <p><i class="fas fa-home me-3"></i> Dhaka, Bangladesh</p> -->
  
            <a href="tel:+8801796779190"><img src="../../../../assets/phone-icon.png" alt="" class="phone-icon">+8801796779190</a>
            <!-- <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="copy text-reset fw-bold" href="https://jomibaba.com/" target="_blank">jomibaba.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  