a{
    text-decoration: none;
  }
  .phone-icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  footer{
    margin-top: 100px;
    // box-shadow: 0px -5px 0px 0px #04c3ff40;
    padding: 20px 0px 0px 0px;
    box-shadow: 0px -20px 30px 0px #00ac7529;
  
    width: 100%;
  }
  