<section class="container">
    <h3>সকল ক্যাটাগরি সমূহ</h3>

    <div class="row">

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বহি ও ফরম.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>সম্পত্তির সর্বনিম্ন বাজার মূল্য</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landvalue.jomibaba.com/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল রেজিস্ট্রির.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>দলিল রেজিস্ট্রেশন ফিস ক্যালকুলেটর</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://fees.matirpathshala.com/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/রেজিস্টার ও রশিদ.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>রেজিস্টার ও রশিদ</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%b0%e0%a7%87%e0%a6%9c%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a6%be%e0%a6%b0-%e0%a6%93-%e0%a6%b0%e0%a6%b8%e0%a6%bf%e0%a6%a6/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল রেজিস্ট্রি খরচ.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>দলিল রেজিস্ট্রি খরচ</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2-%e0%a6%b0%e0%a7%87%e0%a6%9c%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a6%bf-%e0%a6%96%e0%a6%b0%e0%a6%9a/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/আইন ও বিধিমালা.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>আইন ও বিধিমালা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%86%e0%a6%87%e0%a6%a8-%e0%a6%93-%e0%a6%ac%e0%a6%bf%e0%a6%a7%e0%a6%bf%e0%a6%ae%e0%a6%be%e0%a6%b2%e0%a6%be%e0%a5%a4/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/মামলা মোকদ্দমা.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>মামলা মোকদ্দমা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%bf%e0%a6%b0-%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%b0%e0%a7%8d%e0%a6%95%e0%a6%bf%e0%a6%a4-%e0%a6%ae%e0%a6%be%e0%a6%ae%e0%a6%b2/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/আইন (ভূমি ও দলিল.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>আইন (ভূমি ও দলিল রেজিস্ট্রি সম্পর্কিত)</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%86%e0%a6%87%e0%a6%a8/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/ভূমি জরিপ.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>ভূমি জরিপ</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ad%e0%a7%82%e0%a6%ae%e0%a6%bf-%e0%a6%9c%e0%a6%b0%e0%a6%bf%e0%a6%aa/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল রেজিস্ট্রির.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>দলিল রেজিস্ট্রির বিবিধ তথ্য</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%b0%e0%a7%87%e0%a6%9c%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a7%87%e0%a6%b6%e0%a6%a8/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বিবাহ তালাক.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>বিবাহ তালাক কাজী অফিস</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ac%e0%a6%bf%e0%a6%ac%e0%a6%be%e0%a6%b9-%e0%a6%a4%e0%a6%be%e0%a6%b2%e0%a6%be%e0%a6%95-%e0%a6%95%e0%a6%be%e0%a6%9c%e0%a7%80-%e0%a6%85%e0%a6%ab%e0%a6%bf%e0%a6%b8/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিলের ফরমেট.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>দলিলের ফরমেট</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2%e0%a7%87%e0%a6%b0-%e0%a6%ab%e0%a6%b0%e0%a6%ae%e0%a7%87%e0%a6%9f/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/পৃষ্ঠাঙ্কন.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>পৃষ্ঠাঙ্কন</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%aa%e0%a7%83%e0%a6%b7%e0%a7%8d%e0%a6%a0%e0%a6%be%e0%a6%99%e0%a7%8d%e0%a6%95%e0%a6%a8-endorsement/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/সম্পত্তির উত্তরাধিকার.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>সম্পত্তির উত্তরাধিকার</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%89%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0%e0%a6%be%e0%a6%a7%e0%a6%bf%e0%a6%95%e0%a6%be%e0%a6%b0/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিলের নকল.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>দলিলের নকল</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2%e0%a7%87%e0%a6%b0-%e0%a6%a8%e0%a6%95%e0%a6%b2-certified-copy/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/পরিপত্র.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>পরিপত্র</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%aa%e0%a6%b0%e0%a6%bf%e0%a6%aa%e0%a6%a4%e0%a7%8d%e0%a6%b0-gazette/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/প্রজ্ঞাপন.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>প্রজ্ঞাপন</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%9c%e0%a7%8d%e0%a6%9e%e0%a6%be%e0%a6%aa%e0%a6%a8/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বিধিমালা.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>বিধিমালা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ac%e0%a6%bf%e0%a6%a7%e0%a6%bf%e0%a6%ae%e0%a6%be%e0%a6%b2%e0%a6%be/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/ইরেজিস্ট্রেশান.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>ই-রেজিস্ট্রেশন</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/eregistration/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/আই জি আর.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>আই জি আর ইনস্ট্রাকশন</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/igr-instruction/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/অগ্রক্রয়.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>অগ্রক্রয়</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%85%e0%a6%97%e0%a7%8d%e0%a6%b0%e0%a6%95%e0%a7%8d%e0%a6%b0%e0%a7%9f/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/অফিস আদেশ.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>অফিস আদেশ</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%85%e0%a6%ab%e0%a6%bf%e0%a6%b8-%e0%a6%86%e0%a6%a6%e0%a7%87%e0%a6%b6-office-order/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/মূল দলিল.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>মূল দলিল ফেরতের নিয়ম</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ae%e0%a7%82%e0%a6%b2-%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2-%e0%a6%97%e0%a7%8d%e0%a6%b0%e0%a6%b9%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%a8%e0%a6%bf%e0%a7%9f%e0%a6%ae/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/আদেশ.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>আদেশ</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%86%e0%a6%a6%e0%a7%87%e0%a6%b6-order/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/কেন্দ্রীয় মনিটরিং.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>কেন্দ্রীয় মনিটরিং সেল</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%95%e0%a7%87%e0%a6%a8%e0%a7%8d%e0%a6%a6%e0%a7%8d%e0%a6%b0%e0%a7%80%e0%a7%9f-%e0%a6%ae%e0%a6%a8%e0%a6%bf%e0%a6%9f%e0%a6%b0%e0%a6%bf%e0%a6%82-%e0%a6%b8%e0%a7%87%e0%a6%b2/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/খতিয়ান - রেকর্ড - পর্চা.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>খতিয়ান/রেকর্ড/পর্চা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%9c%e0%a6%ae%e0%a6%bf%e0%a6%b0-%e0%a6%96%e0%a6%a4%e0%a6%bf%e0%a7%9f%e0%a6%be%e0%a6%a8-%e0%a6%b0%e0%a7%87%e0%a6%95%e0%a6%b0%e0%a7%8d%e0%a6%a1/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/খাজনা - ভূমি উন্নয়ন কর.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>খাজনা/ভূমি উন্নয়ন কর</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ad%e0%a7%82%e0%a6%ae%e0%a6%bf-%e0%a6%89%e0%a6%a8%e0%a7%8d%e0%a6%a8%e0%a7%9f%e0%a6%a8-%e0%a6%95%e0%a6%b0-%e0%a6%96%e0%a6%be%e0%a6%9c%e0%a6%a8%e0%a6%be/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/খারিজ - নামজারি.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>খারিজ/নামজারি</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a8%e0%a6%be%e0%a6%ae%e0%a6%9c%e0%a6%be%e0%a6%b0%e0%a7%80/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/গুরুত্বপূর্ণ ও জটিল.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>গুরুত্বপূর্ণ ও জটিল শব্দের ব্যাখ্যা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%9c%e0%a6%9f%e0%a6%bf%e0%a6%b2-%e0%a6%b6%e0%a6%ac%e0%a7%8d%e0%a6%a6%e0%a7%87%e0%a6%b0-%e0%a6%85%e0%a6%b0%e0%a7%8d%e0%a6%a5/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/রেজিস্ট্রি অফিস পরিচিতি.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>রেজিস্ট্রি অফিস পরিচিতি</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%b0%e0%a7%87%e0%a6%9c%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a6%bf-%e0%a6%85%e0%a6%ab%e0%a6%bf%e0%a6%b8/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/চিঠিপত্র.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>চিঠিপত্র</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%9a%e0%a6%bf%e0%a6%a0%e0%a6%bf%e0%a6%aa%e0%a6%a4%e0%a7%8d%e0%a6%b0-letter/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/জমি ক্রয়ের পূর্বে ও.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>জমি ক্রয়ের পূর্বে ও পরে করনীয়</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%9c%e0%a6%ae%e0%a6%bf-%e0%a6%95%e0%a7%8d%e0%a6%b0%e0%a7%9f%e0%a7%87%e0%a6%b0-%e0%a6%aa%e0%a7%82%e0%a6%b0%e0%a7%8d%e0%a6%ac%e0%a7%87-%e0%a6%93-%e0%a6%aa%e0%a6%b0%e0%a7%87-%e0%a6%95%e0%a6%b0/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/জমি পরিমাপ পদ্ধতি.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>জমি পরিমাপ পদ্ধতি</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ad%e0%a7%82%e0%a6%ae%e0%a6%bf-%e0%a6%aa%e0%a6%b0%e0%a6%bf%e0%a6%ae%e0%a6%be%e0%a6%aa/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/জমির ম্যাপ.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>জমির ম্যাপ</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%9c%e0%a6%ae%e0%a6%bf%e0%a6%b0-%e0%a6%ae%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%aa-%e0%a6%ae%e0%a7%8c%e0%a6%9c%e0%a6%be-%e0%a6%ae%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%aa/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/জাল দলিল সম্পর্কিত.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>জাল দলিল সম্পর্কিত</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%9c%e0%a6%be%e0%a6%b2-%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল রেজিস্ট্রি পদ্ধতি.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>দলিল রেজিস্ট্রি পদ্ধতি</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2-%e0%a6%b0%e0%a7%87%e0%a6%9c%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a6%bf-%e0%a6%aa%e0%a6%a6%e0%a7%8d%e0%a6%a7%e0%a6%a4%e0%a6%bf/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল রেজিস্ট্রিতে.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>দলিল রেজিস্ট্রিতে যা লাগবে</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2-%e0%a6%b0%e0%a7%87%e0%a6%9c%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a6%bf-%e0%a6%95%e0%a6%b0%e0%a6%a4%e0%a7%87-%e0%a6%af%e0%a6%be-%e0%a6%af/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল লেখক.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>দলিল লেখক</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2-%e0%a6%b2%e0%a7%87%e0%a6%96%e0%a6%95/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/দলিল সংক্রান্ত.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>দলিল সংক্রান্ত বিভিন্ন তথ্য</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2-%e0%a6%b8%e0%a6%82%e0%a6%95%e0%a7%8d%e0%a6%b0%e0%a6%be%e0%a6%a8%e0%a7%8d%e0%a6%a4/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/নীতিমালা.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>নীতিমালা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a8%e0%a7%80%e0%a6%a4%e0%a6%bf%e0%a6%ae%e0%a6%be%e0%a6%b2%e0%a6%be/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বহি ও ফরম.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>বহি ও ফরম</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ac%e0%a6%b9%e0%a6%bf-%e0%a6%93-%e0%a6%ab%e0%a6%b0%e0%a6%ae/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বালাম বহি তল্লাশ.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>বালাম বহি তল্লাশি</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%a4%e0%a6%b2%e0%a7%8d%e0%a6%b2%e0%a6%be%e0%a6%b6%e0%a6%bf-searching/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বিজ্ঞপ্তি.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>বিজ্ঞপ্তি</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ac%e0%a6%bf%e0%a6%9c%e0%a7%8d%e0%a6%9e%e0%a6%aa%e0%a7%8d%e0%a6%a4%e0%a6%bf/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/বিভিন্ন দলিলের সংজ্ঞা.svg"
                        alt="pic"></div>
                <div class="title text-center">
                    <p>বিভিন্ন দলিলের সংজ্ঞা</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ac%e0%a6%bf%e0%a6%ad%e0%a6%bf%e0%a6%a8%e0%a7%8d%e0%a6%a8-%e0%a6%a6%e0%a6%b2%e0%a6%bf%e0%a6%b2%e0%a7%87%e0%a6%b0-%e0%a6%b8%e0%a6%82%e0%a6%9c%e0%a7%8d%e0%a6%9e%e0%a6%be/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/কমিশন.svg" alt="pic"></div>
                <div class="title text-center">
                    <p>কমিশন</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/%e0%a6%ad%e0%a6%bf%e0%a6%9c%e0%a6%bf%e0%a6%9f-%e0%a6%95%e0%a6%ae%e0%a6%bf%e0%a6%b6%e0%a6%a8/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 col-6">
            <div class="service_details bg-light">
                <div class="service_img text-center img-fluid"><img src="../../../assets/শ্রেণী বহির্ভূত.svg" alt="pic">
                </div>
                <div class="title text-center">
                    <p>শ্রেণি বহির্ভূত</p>
                </div>
                <div class="text-center button">
                    <a target="_blank" href="https://landregistrationbd.com/category/uncategorized/">
                        <button type="button" class="btn  btn-sm"> বিস্তারিত দেখুন</button> 
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>